
.basic_detailsmodal .formdiv {
  padding: 5px !important;
}
.basic_detailsmodal .formdiv .labeltxt {
  padding-bottom: 0px !important;
}
.basic_detailsmodal .formdiv {
  margin-bottom: 10px !important;
}
.basic_address_details {
  width: 80%;
  padding: 0px 20px;
}
.tag_closeicons_container .ant-tag .anticon-close {
  font-size: 1rem !important;
  position: relative;
  top: -2px;
  padding: 2px;
  color: #f5222d !important;
}
.tag_closeicons_container .ant-tag {
  background-color: #03bed5 !important;
  color: #fff !important;
  padding: 5px !important;
  border-radius: 3px !important;
  border: none !important;
  font-family: "Roboto" !important;
}
.tag_closeicons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  left: 4px;
}
.buttons_cont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 20px;
}
.profile_Cancel{
  font-size: 1.25rem !important;
  background-color: rgb(201, 201, 201) !important;
  font-family: "Roboto";
  margin-right: 20px !important;
  padding:6px 16px !important;
  text-transform: none !important;
  border-radius: 2px !important;
}
.profile_Submit{
  font-size: 1.25rem !important;
  background-color: rgb(38, 128, 235) !important;
  font-family: "Roboto";
  color:#fff !important;
  padding:6px 16px !important;
  text-transform: none !important;
  border-radius: 2px !important;
}
.profile_cont{
  display:flex;
  align-items: center;
  justify-content: flex-end;
}