.cell_eye {
  padding-left: 20px !important;
}
.totalbook_spinner_align {
  /* padding: 260px 20px 20px 44%; */
  top:240px !important;
  height:50px !important;
  left: -190px !important;
}

.totalbook_spinner_align span i {
 color: #82AE3F;
}